.server-view-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.server-view-navigation {
  width: 208px;
  padding: 16px 0px;
}

.terminal-line {
  display: inline-block;
  word-wrap: break-word;
  width: 95%;
  max-width: 50vw;
  padding: 8px;
  margin: 0;
  &:hover {
    background-color: #1e1e1e;
  }
}

.server-view-terminal {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.server-view-terminal-info {
  width: 50%;
}

.server-view-settings-block {
  min-width: calc(25% - 6px);
  max-width: calc(50% - 6px);
}

@media screen and (max-width: 768px) {
  .server-view-wrapper {
    flex-direction: column;
  }

  .server-view-navigation {
    width: 100%;
  }

  .server-view-terminal {
    flex-direction: column-reverse;
  }

  .server-view-terminal-info {
    width: 100%;
  }
}

table.datapack-list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  table-layout: fixed;

  tr {
    text-align: left;
    th {
      padding: 12px 8px;
    }
    td {
      padding: 12px 8px;
      line-height: 1.4;
      vertical-align: top;
      border-top: 1px solid #e8e8e830;
    }

    &:nth-child(even) {
      background-color: #00000050;
    }
  }
  td {
    border-bottom: 1px solid #e8e8e830;
  }
}
